footer {
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%);
}
  
footer nav ul {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    list-style: none;
    gap: 20px;
}
  
.social-logo:hover {
    transform: scale(120%);
}
  
.social-logo {
    height: 40px;
    width: 40px;
    transition: all 0.5s;
    color: white;
}

small {
    color: white;
    font-size: 10px;
}